<% provide(:title, "Admin Page") %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="admin">	
		<h1> Admin Page </h1><p><br>
		
		<% @boards.each do|b| %>
			글 번호 : <%= b.id %><p>
			글 태그 : <%= b.b_category %><p>
			글 내용 : <%= b.b_content %><p>
			<%= link_to "삭제", board_path(b.id), 
			method: :delete, 
			class:"btn btn-danger", 
			id: "btn-admin-destroy",
			data: {confirm: "삭제합니까?", disable_with: "삭제중.."} %><p><br>

			<% b.replies.each do |r| %>
				댓글 번호 : <%= r.id %><p>
				댓글내용 : <%= r.r_content %>
				<%= link_to "댓글삭제", board_reply_path(:board_id => b.id , :id => r.id),
				method: :delete,
				class:"btn btn-danger",
				id: "btn-admin-destroy",
				data:{confirm:"삭제?", disable_with: "삭제중.."} %><p><br>
			<% end %><p>

		<% end %>

		<div class="paginate">
			<%= will_paginate @boards %>
		</div>
		
	</div>
</body>
</html>

