<% provide(:title, "게시판") %>
<html>
<head>
	<title></title>
</head>
<body>

	<div class="stats">
	    <%= link_to "All", boards_path, class:"btn btn-success" %>
	    <%= link_to "조회순", boards_path(:b_click_count => 1),class:"btn btn-success" %>
		<%= link_to "추천순", boards_path(:b_like => 1),class:"btn btn-success" %>
	</div>

	<div class="search-class">
		<%= form_tag(boards_path, :method => "get", id: "search-form") do %>
		  <%=link_to '#', '#' %>
		  <%= text_field_tag :search, params[:search], class: "search-query", placeholder: " 해시태그를 입력하세요.",
		   type: "search", data: {autocomplete: autocomplete_board_b_category_boards_path} %>  

		  <%= submit_tag "검색", :b_category => nil ,class:"btn btn-default btn-sm"%>
		<% end %>
	</div>
	
	<table class="table">
		<tr class ="activerow">
			<td>태그</td>
			<td>내용</td>
			<td>조회수</td>
			<td>추천</td>
			<td>작성 일자</td>
		</tr>

		<% @boards.each_with_index do |board, index| %>
			<tr class="lovelyrow">
				<td>
					<%= board.b_category %>
				</td>
				<td>
	                <%= link_to truncate(board.b_content, length:10), board %>
	                <label style="color: #ff3333">
	                	(<%= board.replies.size %>)
	                </label>
				</td>
				<td>
					<%= board.b_click_count %>
				</td>
				<td>
					<%= board.b_like %>
				</td>
				<td>
					<%= board.created_at.strftime("%d %b. %Y") %>
				</td>
			</tr>
		<% end %>
	</table>
	<div class="paginate">
		<%= will_paginate %>
	</div>
</body>
<script>
	$( document ).ready(function() {
	  $('.search-query').bind('railsAutocomplete.select', function(event, data {
	  $('.search-me').trigger('click')
	  });
	});

</script>

</html>
