<% provide(:title, "게시판") %>
<div class="test_css">
	<table class="table">
		<tr>
			<td>카테고리(없앨예정)</td>
			<td>내용</td>
			<td>조회수</td>
			<td>추천</td>
			<td>작성 일자</td>
			<td>삭제 / 수정</td>
		</tr>
		<% @boards.each do |board| %>
			<tr>
				<td>
					<%= board.b_category %>
				</td>
				<td>
					<%= board.b_content %>
				</td>
				<td>
					<%= board.b_click_count %>
				</td>
				<td>
					<%= board.b_like %>
				</td>
				<td>
					<%= board.created_at %>
				</td>
				<td>
					<%= link_to "삭제", "#", class:"btn btn-danger", data: { confirm: "삭제합니까?"}%>
					<%= link_to "수정", "#", class:"btn btn-primary"%>
				</td>
			</tr>
		<% end %>
	</table>
</div>
