<% provide(:title, "게시판") %>
<html>
<head>
	<title>

  
</title>

</head>
<body>
	<div class="stats">
	    <%= link_to "All", boards_path, class:"btn btn-success" %>
	    <%= link_to "조회순", boards_path(:b_click_count => 1),class:"btn btn-success" %>
		<%= link_to "추천순", boards_path(:b_like => 1),class:"btn btn-success" %>
	</div>

	<div class="search-class">
		<%= form_tag(boards_path, :method => "get", id: "search-form") do %>

		  <%=link_to '#', '#' %>
		  
<<<<<<< HEAD
		<%= text_field_tag :search, params[:search], 
		  	class: "search-query", 
=======
		  <%= text_field_tag :search, params[:search], class: "search-query", 
>>>>>>> f8c493b83357e44402f8058515c48af01b6c81c8
		  	placeholder: " 해시태그를 입력하세요.",
		   	type: "search", 
		   	data: { autocomplete: autocomplete_board_b_category_boards_path },
		   	remote: true 
		%>  

	   	<%= text_field_tag :search, params[:term], 
		  	class: "search-test", 
		  	placeholder: " 해시태그를 입력하세요.",
		   	type: "search", 
		   	remote: true 
		%>  

		  <%= submit_tag "검색", :b_category => nil ,class:"btn btn-default btn-sm"%>
		<% end %>
	</div>
	
	<table class="table">
		<tr class ="activerow">
			<td class = "board-category">태그</td>
			<td class = "board-content">내용</td>
			<td class = "board-click-count">조회수</td>
			<td class = "board-like">추천</td>
			<td class = "board-time">작성 일자</td>
		</tr>

		<% @boards.each_with_index do |board, index| %>
			<tr class="lovelyrow" >
				<td class = "board-category">
					<%= link_to board.b_category, boards_path(:b_category => board.b_category) %>
				</td>
				<td class = "board-content", id = "div-content", url="/boards/3">
	                <%= link_to truncate(board.b_content, length:10), board %>
	                <label style="color: #ff3333">
	                	(<%= board.replies.size %>)
	                </label>
				</td>
				<td class = "board-click-count">
					<%= board.b_click_count %>
				</td>
				<td class = "board-like">
					<%= board.b_like %>
				</td>
				<td class = "board-time">
					<%= timestamp_division(board) %><p>
				</td>
		<% end %>

	</table>
	<div class="paginate">
		<%= will_paginate %>
	</div>

</body>
<<<<<<< HEAD
<script>
	$(document).ready(function(){
		$('.search-query').bind('railsAutocomplete.select', function(event, data){
  		$('.search-form').trigger('click')
		});

		$(".search-test").autocomplete({source: 'boards/us_states'} )
		;
	});
=======
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script>
		$('.search-query').click(function() {
	    console.log(availableTags);	  	
	    var availableTags = ["ab", "aa", "Aaaa", "asdfbaa"];

	    $('.search-query').autocomplete({
			source: $('.search-query').data('autocomplete_board_b_category_boards_path')
	    })
	  });
>>>>>>> f8c493b83357e44402f8058515c48af01b6c81c8


	 </script>
</html>
