
<div class="text-center">
	
		    조회수:<%= @board.b_click_count %><p>
		    추천수:<span id="like"><%= @board.b_like %></span>
        <span id="like_button"><p>
		    <%= link_to "추천", edit_like_path(:id => @board.id), method: :patch, remote: true, 
            class:"glyphicon glyphicon-thumbs-up"%>
        </span>
	<p>
	<textarea row="40" cols="15" class= "text_area" disabled="true"> <%= @board.b_content %> </textarea>
</div>
<div class = "comment-show">
  <label class="label label-warning">댓글 보기</label>
  <hr>
  <table class="table">
  <tr>
    	<td>내용</td><td>작성일</td>
  </tr>
  <% @board.replies.each do |r| %>  
    <tr>
    	<td><%= r.r_content %></td><td><%= r.created_at %></td>
    </tr>
  <% end %>
  </table>

  <hr>
  <label class="label label-warning">댓글 작성</label><p>
  <%= form_for([@board, @board.replies.build]) do |f| %>
    <div class="field">
      <%= f.text_field :r_content, placeholder: "댓글을 입력하세" %><p>
      <p>
      <%= f.submit "등록", class:"btn btn-primary btn-sm"%>
    </div>
  <% end %>
</div>
	