<% provide(:title, @board.b_content) %>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="text-center">
          조회수 : <%= @board.b_click_count %> |  
          추천수 : <span id="like"><%= @board.b_like %></span>
          <span id="like_button"><p>
            <div class = "thumbs">
              <%= link_to "추천", 
                like_path(:id => @board.id), 
                method: :patch, 
                remote: true, 
                class:"glyphicon glyphicon-thumbs-up"%><p><br><p>
            </div>
          </span>
            <%= params.inspect %>
    <div class = "board-show">
      <td>
         # <%=link_to @board.b_category, boards_path(:b_category => @board.b_category) %>
      </td>
    </div>

    <hr>
    <div class = "board-content-show">
      <b><%= @board.b_content %></b>
    </div>
    <hr>

    <div class = "comment-info-show">
      댓글 보기
      <p>
    </div>
    <div class = "comment-show">
      <table class="table table-bordered">
      <tr>
          <td class = "comment-writer">작성</td>
          <td class = "comment-content">내용</td>
          <td class = "comment-time">작성일</td>
      </tr>
      <% @board.replies.each do |r| %>  
        <tr>
          <td class = "comment-writer">익명<%= r.id %></td>
          <td class = "comment-content"><%= r.r_content %></td>
          <td class = "comment-time"><%= r.created_at.strftime("%d %b. %Y") %></td>
        </tr>
      <% end %>
      </table>
    </div>
    
    <%= form_for([@board, @board.replies.build]) do |f| %>
      <div class="comment_write">
        <hr>
        익명 : 
        <%= f.text_field :r_content, placeholder: "  댓글을 입력하세요." %><p>
        <p>
        <%= f.submit "등록", class:"btn btn-success btn-sm"%>
      </div>
    <% end %>
  </div>

</body>
</html>

	